<div class="container">
  <div class="turing-machine">
    <h1>Máquina de Turing</h1>

    <div class="input-area">
      <input
        type="text"
        [(ngModel)]="inputString"
        placeholder="Ej. 1010 0101"
        (keydown)="onKeyDown($event)"
      />
      <button class="btn btn-success" (click)="processInput()">
        Cargar Cadena
      </button>
    </div>

    <div class="tape">
      <div class="tape-row">
        <span *ngFor="let symbol of tape" class="tape-cell">{{ symbol }}</span>
      </div>
      <div class="tape-row">
        <span *ngFor="let symbol of tape; let i = index" class="tape-cell">
          <span *ngIf="i === headPosition; else elseTemplate" class="head-arrow"
            >^</span
          >
          <ng-template #elseTemplate>-</ng-template>
        </span>
      </div>
    </div>
    <div class="mt-2">
      <p class="text-primary" style="font-size: 24px">{{ state }}</p>
    </div>

    <div class="btn-container">
      <button class="btn btn-danger mb-2" style="width: 150px;" (click)="DoStep()">
        Step >
      </button>
      <span class="text-danger">Alt + FlechaIzq.</span>
    </div>
  </div>
</div>
